.vending-machine{
    background-image: url("../images/vending-machine.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
}

.container {
    position: relative;
}

.greet-text-block {
    position: absolute;
    top: 80px;
    left: 20px;
    background-color: rgba(155, 155, 155, 0.5);
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
}

.link-block {
    position: absolute;
    display: grid;
    justify-content: center;
    top: 100px;
    right: 20px;
    background-color: rgba(155, 155, 155, 0.5);
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px;
    width: 10em;
    margin: 20px;
}

.link-block a:hover {
    background-color: black;
    color: white !important;
  }
   
.link-block a{
    text-decoration: none;
}